@use 'variables';
/* 定义 vue transition 默认切换动画 */
.v-enter-active,
.v-leave-active {
  transition: opacity 0.2s variables.$ease-out-circ;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

/* 定义 页面滑动切换 动画 */
// 离开
.slide-fade-leave-to {
  opacity: 0;
  transform: translateX(50px)
}
// 进入
.slide-fade-enter-from {
  opacity: 0;
  transform: translateX(-50px)
}

/* 定义 页面滑动切换 动画 反向 */
// 离开
.slide-fade-rev-leave-to {
  opacity: 0;
  transform: translateX(-50px)
}
// 进入
.slide-fade-rev-enter-from {
  opacity: 0;
  transform: translateX(50px)
}

/* 定义 渐变出现、立即消失 */
.ease-in-enter-active {
  transition: opacity 0.2s variables.$ease-out-circ;
}
.ease-in-leave-active {
  opacity: 0; // 立即隐身效果
}

.ease-in-enter-from,
.ease-in-leave-to {
  opacity: 0;
}