// 所有代码块
code.hljs {
  line-height: normal;
  backdrop-filter: opacity(50%);
  -webkit-backdrop-filter: opacity(50%);
  overflow: auto;
}

// 独立代码块
:is(pre) > code.hljs {
  font-size: .8em;
  border-radius: 0 0 .5em .5em;
}

.cus-code-container {
  background-color: rgba(23 27 36 / 90%) !important;
  border-radius: 8px;
  margin: 2px 0;

  section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgba(255 255 255 / 50%);
    height: 2.2em;
    font-size: .8em;
    padding-inline: 0.8em;

    .lang-name {
    }

    .copy-button {
    }
  }

}

// 行内代码块
:not(pre) > code.hljs {
  background-color: rgba(0 0 0 / 5%) !important;
  font-size: .8em;
  border-radius: .3em;
  margin-inline: .1em;
  line-height: 1.5em;
}