code.hljs {
  border-radius: .5rem;
  line-height: normal;
  backdrop-filter: opacity(50%);
  -webkit-backdrop-filter: opacity(50%);
  overflow: auto;
  margin: 2px 0;
}

:not(pre) > code.hljs {
  border-radius: .3rem;
  margin-inline: .5rem;
  line-height: 1.75rem;
}