@use 'sass:color';
@use 'variables';

@mixin hover-able {
  &:hover {
    background: color.scale(variables.$color-hover, $alpha: -50%);
  }
}

@mixin active-able {
  &:active {
    background: color.scale(variables.$color-active, $alpha: -50%);
  }
}

@mixin transition-all-circ {
  transition: all 0.2s variables.$ease-out-circ;
}

@mixin click-able {
  cursor: pointer;
  @include hover-able;
  @include active-able;
  @include transition-all-circ;
}

@mixin line-clamp-1 {
  display: -webkit-box;
  word-break: break-all;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

@mixin button-like {
  border-radius: .5rem;
  padding: .5rem;
}

@mixin page-title {
  font-weight: bold;
  font-size: large;
}

@mixin no-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }
  scrollbar-width: none;
}