@use 'variables';
@use 'themes';
@use './base.css';
/* IconPark图标 */
@use '@icon-park/vue-next/styles/index.css';

/* TailwindCSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 16px;
}

body {
  background-color: var(--white);
  color: var(--black);
  margin: 0;
  padding: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  touch-action: pan-x pan-y;
  overflow: hidden;
  transition: color 0.25s,
  background-color 0.25s;
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helevetica, Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei UI", "Microsoft YaHei", "Source Han Sans CN", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // 临时用强制深色模式
  &[data-theme="dark"], .theme-dark & {
    filter: invert(1) hue-rotate(180deg);
  }
}

body, html {
  height: 100%;
  background: var(--body-background);
}

/* 定义链接样式 */
a:not(.t-link) {
  text-decoration: none;
  display: inline-block;
  color: var(--color-primary);
  transition: all 0.2s variables.$ease-out-circ;
  background: linear-gradient(to right, var(--color-primary), var(--color-primary)) no-repeat left bottom;
  background-size: 0 1px;

  &:hover {
    color: var(--color-primary-darker);
    background-position: left bottom;
    background-size: 100% 1px;
  }
}

/* 滚动条 */
::-webkit-scrollbar {
  --bar-width: 2px;
  width: var(--bar-width);
  height: var(--bar-width);
}

/* 滚动条滑块样式 */
::-webkit-scrollbar-thumb {
  background-color: var(--bar-color);
  border-radius: .5rem;
  background-clip: content-box;
  border: none;
}

/* 滚动条轨道样式 */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* 划词样式 */
::selection {
  background-color: var(--color-primary-80);
  color: var(--color-black);
}

/* 重置 textarea 滚动条样式 */
textarea {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

textarea::-webkit-scrollbar {
  display: none;
}

#app {
  flex: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  //padding: 24px;
  box-sizing: border-box;
  position: relative;
}

@media screen and (max-width: variables.$screen-sm) {
  #app {
    flex: 1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    //padding: 12px;
    box-sizing: border-box;
    position: relative;
  }
}

/* v-shake 的动画 */
.shake {
  animation: shake 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.enable-hover {
  &:hover {
    background: variables.$color-hover;
  }
}

.enable-active {
  &:active {
    background: variables.$color-active;
  }
}

/* 改变hover和active时的颜色、鼠标指针 */
.enable-click {
  cursor: pointer;

  &:hover {
    background: variables.$color-hover;
  }

  &:active {
    background: variables.$color-active;
  }
}

.transition-all-circ {
  transition: all 0.2s variables.$ease-out-circ;
}

/* 闪烁光标，一般配合typer使用 */
.typed-cursor {
  margin-left: 10px;
  opacity: 1;
  animation: blink 0.9s infinite;
  @keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {

      opacity: 1;
    }
  }
}