@use "./variables" as *;

:root {
  --color-success: #{$color-success};
  --color-info: #{$color-info};
  --color-warning: #{$color-warning};
  --color-danger: #{$color-danger};
  --color-black: #{$color-black};
  --color-white: #{$color-white};
  --color-grey-50: #f9f9f9;
  --color-grey-100: #f2f2f2;
  --color-grey-200: #e5e5e5;
  --color-grey-300: #d9d9d9;
  --color-grey-400: #cccccc;
  --color-grey-500: #bfbfbf;
  --color-trans-50: rgba(37 37 37 / 2.5%);
  --color-trans-100: rgba(37 37 37 / 5%);
  --color-trans-200: rgba(37 37 37 / 10%);
  --color-trans-300: rgba(37 37 37 / 15%);
  --color-trans-400: rgba(37 37 37 / 20%);
  --color-trans-500: rgba(37 37 37 / 25%);
  --color-trans-1000: rgba(37 37 37 / 50%);
  --color-trans-1500: rgba(37 37 37 / 75%);
  --color-primary: var(--color-primary-400);
  --color-primary-darker: var(--color-primary-500);
  --color-primary-lighter: var(--color-primary-200);
  --color-secondary: var(--color-secondary-400);
  --color-secondary-darker: var(--color-secondary-500);
  --color-secondary-lighter: var(--color-secondary-200);
  --body-background: linear-gradient(135deg, var(--color-primary-30), var(--color-primary-20));

  --text-primary: var(--color-black);
  --text-secondary: var(--color-trans-1000);

  --padding-normal: 1rem;

  @media screen and (max-width: $screen-sm) {
    --padding-normal: 0.5rem;
  }
}

:root.theme-dark {
  // 在这里添加深色模式颜色
  --color-black: #{$color-white};
  --color-white: #{$color-black};
  --color-grey-50: #fafafa;
  --color-grey-100: #f4f4f4;
  --color-grey-200: #e9e9e9;
  --color-grey-300: #dedede;
  --color-grey-400: #d3d3d3;
  --color-grey-500: #c9c9c9;
  --color-trans-50: rgba(255 255 255 / 2.5%);
  --color-trans-100: rgba(255 255 255 / 5%);
  --color-trans-200: rgba(255 255 255 / 10%);
  --color-trans-300: rgba(255 255 255 / 15%);
  --color-trans-400: rgba(255 255 255 / 20%);
  --color-trans-500: rgba(255 255 255 / 25%);
  --color-trans-1000: rgba(255 255 255 / 50%);
  --color-trans-1500: rgba(255 255 255 / 75%);
  --color-primary-darker: var(--color-primary-300);
  --color-primary-lighter: var(--color-primary-500);
  --body-background: linear-gradient(135deg, var(--color-primary-30), var(--color-primary-20));
}

// 覆写 TDesign 样式
:root {
  --td-brand-color-1: var(--color-primary-40);
  --td-brand-color-2: var(--color-primary-50);
  --td-brand-color-3: var(--color-primary-80);
  --td-brand-color-4: var(--color-primary-100);
  --td-brand-color-5: var(--color-primary-200);
  --td-brand-color-6: var(--color-primary-300);
  --td-brand-color-7: var(--color-primary-400);
  --td-brand-color-8: var(--color-primary-500);
  --td-brand-color-9: var(--color-primary-600);
  --td-brand-color-10: var(--color-primary-700);
  --td-radius-small: 7px;
  --td-radius-default: 8px;
  --td-radius-medium: 11px;
  --td-radius-large: 14px;
  --td-radius-extraLarge: 17px;
  --td-component-border: transparent;
  --td-border-level-1-color: transparent;
  --td-border-level-2-color: transparent;
  --td-shadow-1: #{$box-shadow-shallower};
  --td-shadow-2: #{$box-shadow};
  --td-shadow-3: #{$box-shadow-deeper};
  --td-bg-color-specialcomponent: var(--color-trans-100); // 输入框、outline 按钮等的背景色
  --td-bg-color-page: var(--body-background);
  --td-bg-color-container: var(--color-white);
  --td-bg-color-container-hover: var(--color-trans-50);
  --td-bg-color-secondarycontainer: var(--color-trans-100);
  --td-bg-color-component-disabled: var(--color-trans-200);
  --td-text-color-primary: var(--text-primary);
  --td-text-color-secondary: var(--text-secondary);
  --td-text-color-placeholder: var(--color-trans-1000);
  --td-text-color-disabled: var(--color-trans-1500);
  --td-mask-disabled: var(--color-trans-200);
}

// 覆写 TDesign 样式
.t-input {
  // 增大输入框边框
  border-width: 2px;

  &:focus-within {
    background-color: transparent;
  }
}

.t-transfer__list {
  background-color: var(--color-trans-100);
  padding-top: 1.5rem;
  flex: 1; // 两侧列表同宽

  &-header {
    padding: 0 0.25rem;
    height: 2rem;
    line-height: 2rem;
  }

  &-body {
    overflow-x: auto;
  }

  .t-checkbox-group .t-checkbox {
    margin-right: 0.25rem;
    margin-left: 0.25rem;

    + .t-checkbox {
      margin-left: 0.25rem;
    }

    .t-checkbox__input {
      border-color: var(--color-trans-300);
    }
  }
}

.t-transfer__search-wrapper {
  padding: 0.25rem 0.5rem 0 0.25rem;
}

.t-form__item {
  // 减小输入框间距
  margin-bottom: 1rem;
}