@use "./variables" as *;

:root {
  --color-success: #{$color-success};
  --color-info: #{$color-info};
  --color-warning: #{$color-warning};
  --color-danger: #{$color-danger};
  --color-black: #{$color-black};
  --color-white: #{$color-white};
  --color-grey-500: #{$color-grey-500};
  --color-primary: #{$color-primary};
  --color-primary-darker: #{$color-primary-darker};
  --color-primary-lighter: #{$color-primary-lighter};
  --color-secondary: #{$color-secondary};
  --color-secondary-darker: #{$color-secondary-darker};
  --color-secondary-lighter: #{$color-secondary-lighter};
}

.theme-dark {
  --color-white: #{$color-black};
  --color-black: #{$color-white};
  --color-primary: #{$color-secondary};
  --color-primary-darker: #{$color-secondary-darker};
}