@use 'variables' as *;

:export {
  color-white: $color-white;
  color-grey: $color-grey;
  color-grey-50: $color-grey-50;
  color-grey-100: $color-grey-100;
  color-grey-200: $color-grey-200;
  color-grey-300: $color-grey-300;
  color-grey-400: $color-grey-400;
  color-grey-500: $color-grey-500;
  color-black: $color-black;
  color-emerald-50: $color-emerald-50;
  color-emerald-100: $color-emerald-100;
  color-emerald-200: $color-emerald-200;
  color-emerald-300: $color-emerald-300;
  color-emerald-400: $color-emerald-400;
  color-emerald-500: $color-emerald-500;
  color-teal-10: $color-teal-10;
  color-teal-50: $color-teal-50;
  color-teal-100: $color-teal-100;
  color-teal-200: $color-teal-200;
  color-teal-300: $color-teal-300;
  color-teal-400: $color-teal-400;
  color-teal-500: $color-teal-500;
  color-hover: $color-hover;
  color-active: $color-active;
  color-primary-lighter: $color-primary-lighter;
  color-primary: $color-primary;
  color-primary-darker: $color-primary-darker;
  color-success: $color-success;
  color-info: $color-info;
  color-warning: $color-warning;
  color-danger: $color-danger;
  linear-gradient-primary: $linear-gradient-primary;
  linear-gradient-primary-2: $linear-gradient-primary-2;
  linear-gradient-primary-3: $linear-gradient-primary-3;
  ease-out-circ: $ease-out-circ;
  screen-sm: $screen-sm;
  box-shadow: $box-shadow;
}