/* atomic color variables for this project */
:root {
  --theme: light;
  --white: #fff;
  --black: #303030;
  --gray: #e5e7eb;
  --emerald-500: #10b981;
  --emerald-600: rgb(5, 150, 105);
  --second: #e7f8ff;
  --hover-color: #f3f3f3;
  --bar-color: rgba(0,0,0,.1);
  --theme-color: var(--gray);
  --shadow: 50px 50px 100px 10px rgba(0,0,0,.1);
  --card-shadow: 0px 2px 4px 0px rgba(0,0,0,.05);
  --border-in-light: 1px solid #dedede;
}

/* 自动暗色 */
/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --theme: light;*/
/*    --white: #303030;*/
/*    --black: #fff;*/
/*    --gray: #e5e7eb;*/
/*    --emerald-500: #10b981;*/
/*    --emerald-600: rgb(5, 150, 105);*/
/*    --second: #e7f8ff;*/
/*    --hover-color: #f3f3f3;*/
/*    --bar-color: rgba(0,0,0,.1);*/
/*    --theme-color: var(--gray);*/
/*    --shadow: 50px 50px 100px 10px rgba(0,0,0,.1);*/
/*    --card-shadow: 0px 2px 4px 0px rgba(0,0,0,.05);*/
/*    --border-in-light: 1px solid #dedede;*/
/*  }*/
/*}*/