@import './base.css';
@import "variables.module";
/* IconPark图标 */
@import '@icon-park/vue-next/styles/index.css';

/* TailwindCSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: var(--white);
    color: var(--black);
    margin: 0;
    padding: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    touch-action: pan-x pan-y;
    overflow: hidden;
    transition:
            color 0.5s,
            background-color 0.5s;
    line-height: 1.6;
    font-family: system-ui,
            "MiSans Normal",
            "Microsoft YaHei UI",
            Inter,
            -apple-system,
            BlinkMacSystemFont,
            'Segoe UI',
            Roboto,
            Oxygen,
            Ubuntu,
            Cantarell,
            'Fira Sans',
            'Droid Sans',
            'Helvetica Neue',
            sans-serif;
    font-size: 15px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body, html {
  height: 100%;
  // background: linear-gradient(90deg, #e1eec307, #f0505307);
}

/* 滚动条 */
::-webkit-scrollbar {
    --bar-width: 5px;
    width: var(--bar-width);
    height: var(--bar-width);
}

/* 滚动条滑块样式 */
::-webkit-scrollbar-thumb {
    background-color: var(--bar-color);
    border-radius: .5rem;
    background-clip: content-box;
    border: 1px solid transparent;
}

/* 滚动条轨道样式 */
::-webkit-scrollbar-track {
    background-color: transparent;
}

/* 划词样式 */
::selection {
    background-color: $color-primary-lighter;
    color: $color-black;
}

#app {
    flex: 1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    //padding: 24px;
    box-sizing: border-box;
    position: relative;
}

@media screen and (max-width: $screen-sm) {
    #app {
        flex: 1;
        width: 100%;
        height: 100%;
        overflow: hidden;
        //padding: 12px;
        box-sizing: border-box;
        position: relative;
    }
}

/* v-shake 的动画 */
.shake {
  animation: shake 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.enable-hover {
  &:hover {
    background: $color-hover;
  }
}

.enable-active {
  &:active {
    background: $color-active;
  }
}

/* 改变hover和active时的颜色、鼠标指针 */
.enable-click {
  cursor: pointer;
  &:hover {
    background: $color-hover;
  }
  &:active {
    background: $color-active;
  }
}

.transition-all-circ {
    transition: all 0.2s $ease-out-circ;
}

/* 闪烁光标，一般配合typer使用 */
.typed-cursor {
  margin-left: 10px;
  opacity: 1;
  animation: blink 0.9s infinite;
  @keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {

      opacity: 1;
    }
  }
}